.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: $spacing-8xl;
  gap: $spacing-7xl;
  font-family: $font-family-body;
}

.main {
  display: flex;
  flex-direction: column;
  gap: $spacing-4xl;
  grid-row-start: 2;
}

.main ol {
  font-family: $font-family-body;
  padding-left: $spacing-none;
  margin: $spacing-none;
  font-size: $font-size-sm;
  line-height: $line-height-md;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: $spacing-md;
}

.main code {
  font-family: $font-family-body;
  background: var(--gray-alpha-100);
  padding: $spacing-xxs $spacing-xs;
  border-radius: $radius-xs;
  font-weight: $font-weight-semibold;
}

.ctas {
  display: flex;
  gap: $spacing-xl;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: $spacing-none $spacing-2xl;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-md;
  line-height: $line-height-sm;
  font-weight: $font-weight-medium;
}

.ctas a:first-child {
  background: var(--foreground);
  color: var(--background);
}

.ctas a:last-child {
  border-color: var(--gray-alpha-200);
}

@media (hover: hover) and (pointer: fine) {
  .ctas a:first-child:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }
  .ctas a:last-child:hover {
    border-color: transparent;
    background: var(--button-secondary-hover);
  }
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: $spacing-3xl;
}

@media (max-width: 600px) {
  .page {
    padding: $spacing-4xl;
    padding-bottom: $spacing-8xl;
  }
  .ctas {
    flex-direction: column;
  }
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}