.card {
  padding: $spacing-lg;
  background: $primary-50;
  border: 1px solid $neutral-200;
  border-radius: $radius-md;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: $spacing-lg;
}

.icon {
  flex-shrink: 0;
  color: $neutral-500;
}

.content {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.name {
  font-size: $font-size-xs;
  font-weight: $font-weight-semibold;
  color: $neutral-700;
}

.description {
  font-size: $font-size-xs;
  color: $neutral-500;
}

.link {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  color: $primary-600;

  &:hover {
    color: $primary-700;
    text-decoration: underline;
  }
}
